project:
  type: website

website:
  title: "LOD Control in ThreeJS"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - reports/3d-model-LOD.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



